  <!-- Setup the Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=370621926691035";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

 window.fbAsyncInit = function() {
    FB.init({
      appId      : '370621926691035',
      xfbml      : true,
      version    : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };
  function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}

</script>

  <div class="parallax-container">
    <div class="parallax"><img src="assets/background_image.jpg"></div>

  <div id="index-banner" class="parallax-container">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Experiences</h1>
        <div class="row center">
          <h5 class="header col s12 light">Ready for your next experience?</h5>
        </div>
        <div class="row center">

          <!-- Login with Facebook button -->
          <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
        </div>
        <br><br>

      </div>
    </div>
  </div>


 <!-- Instagram -->

  <div class="row instagram-feed">
      <div class="col-xs-12" style="width: 100%; text-align: center; font-family: "Raleway";>
        <h1>Instagram
        <img src="https://cdn0.iconfinder.com/data/icons/shift-logotypes/32/Instagram-512.png"
          style="width: 25px; height:25px"/>
        </h1>
        <h2 id="instagram-hashtag"><a href="https://www.instagram.com/explore/tags/experiences/" class=instagram-header>#experiences</a></h2>
        <iframe src="//lightwidget.com/widgets/6b87a7f349765332b0054ec5b523e125.html"
        id="lightwidget_6b87a7f349"
        name="lightwidget_6b87a7f349"
        allowtransparency="true"
        class="lightwidget-widget"
        style="width: 100%; border: 0; overflow: hidden;"></iframe>
      </div>
    </div>
  </div>

    <div id="index-banner" class="parallax-container video-parallax">


   <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of Bootcamp students working on this project</p>
    </div>

    </div>
    <div class="footer-copyright">
      <div class="container">
      <a class="brown-text text-lighten-3" href="http://materializecss.com">© 2017 Experiences, Inc.</a>
      </div>
    </div>
  </footer>

    <script type="text/javascript">
      function updateStatusCallback(res){
        console.log(res);
        // window.location.replace(`/auth/facebook/callback?signed_request=${res.authResponse.signedRequest}`);
      }

      $.ajaxSetup({ cache: true });
      $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
        FB.init({
          appId: '370621926691035',
          version: 'v2.7' // or v2.1, v2.2, v2.3, ...
        });
        $('#loginbutton,#feedbutton').removeAttr('disabled');
        FB.getLoginStatus(updateStatusCallback);
      });
  </script>

