<p id="notice"><%= notice %></p>

<h1>Events</h1>



<div style="height: 500px" id='event-map'></div>



<br>

<script>
      window.events = <%== @events.to_json %>;

        /*window.events.map( function(event) {
          var marker = new google.maps.Marker({
            position: {lat: event.lat, lng: event.lng},
            map: map
          })
        });*/
      //}
    </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_key %>&callback=initMap">
</script>


<%= link_to 'New Event', new_event_path %>
