// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event_detail_map {
    height: 300px;
    width: 300px;
    border-radius: 15px;
    border: 2px solid black;

}
.card {
 width:250px;
 height: 300px;
 align-items: center;
 justify-content: center;
 margin-top: 25px;
 border-radius: 5px;
 border: 2px solid #26a69a;
 overflow: hidden;

}
.card:hover  {
    border: 2px solid #26a69a;
    box-shadow: 10px 10px 5px #004B43;
}

.form_class {
  align: left;
  width: 200px;
  float: left;
  border-radius: 5px;
  height: 400px;
  padding: 10px;
  background:#ee6e73;
  color: white;
  margin-right: 15px;
  border-radius: 5px;

}
.timepicker {
  color: white;
}
.button_filter {
  color:white;
  background: #26a69a;
  border-radius: 5px;
}
#jumbotron{
  background: #26a69a;
  color:white;
  padding: 10px;
  height: 200px;
  border-radius: 5px;
}
#event-map{
  border-radius: 5px;
}
#events_display{
  background: #26a69a;
  color:white;
  padding: 10px;
  height: 50px;
  border-radius: 5px;
}
.carousel {
  height: 350px;
  margin-bottom: 100px;
  width:100%;

  margin-top: 20px;
  border-radius: 5px;
  padding-top:-100px;

}
img {
  border-bottom: 2px solid #26a69a;
}
h4{
  color:white;
  padding:10px;
  text-align: center;

}
.titles{
  background: #26a69a;
  border-radius: 5px;
}
.carousel .carousel-item{
  top: -75px;
}

.fixed-action-btn.horizontal ul {
  top: -35px;
}
icons {
  height: 40px;
  width: 40px;
}

