// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event_detail_map {
    height: 300px;
    width: 300px;
    border-radius: 15px;
    border: 2px solid black;

}
.card {
 width:300px;
 align-items: center;
 justify-content: center;

}
.form_class {
  align: left;
  width: 200px;
  float: left;
  border-radius: 5px;
  height: 400px;
  padding: 10px;
  background:#ee6e73;
  color: white;

}
.timepicker {
  color: white;
}
.button_filter {
  color:white;
  background: #26a69a;
  border-radius: 5px;
}

