// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event_detail_map {
    height: 300px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #ee6e73;
    margin-bottom: 20px;

}
.card {
  width:300px;
  height: 420px;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  border-radius: 5px;
  border: 2px solid #26a69a;
  overflow: hidden;


}
.card:hover  {
    border: 2px solid #26a69a;
    box-shadow: 10px 10px 5px #004B43;
}
#contentcard{
  height:400px;
  width: 300px;
  border: 2px solid #26a69a;
  border-radius: 5px;
}

#boximage{
  height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-bottom: none;
  border-radius: 5px;
}

.form_class {
  align: left;
  width: 200px;
  float: left;
  border-radius: 5px;
  height: 400px;
  padding: 10px;
  background:#26a69a;
  color: white;
  margin-right: 15px;
  border-radius: 5px;

}
.timepicker {
  color: white;
}
.button_filter {
  color:white;
  background: #26a69a;
  border-radius: 5px;
}
#jumbotron{
  background: #26a69a;
  color:white;
  padding: 10px;
  height: 200px;
  border-radius: 5px;
}
#event-map{
  border-radius: 5px;
}
#events_display{
  background: #26a69a;
  color:white;
  padding: 10px;
  height: 50px;
  border-radius: 5px;
}
maps-pin{
  height:50px;
}
.carousel {
  height: 550px;
  margin-bottom: 100px;
  width:100%;

  margin-top: 20px;
  border-radius: 5px;
  padding-top:-100px;
}
#eventdesc{
  height: 100px;
  overflow: hidden;
  margin-top:-5px;
}

h4{
  color:white;
  padding:10px;
  text-align: center;

}
.titles{
  background: #26a69a;
  border-radius: 5px;
}
.carousel .carousel-item{
  top: -75px;
}

.fixed-action-btn.horizontal ul {
  top: -35px;
}

icons {
  height: 40px;
  width: 40px;
}

#eventinfo{
  padding:10px;
  border-radius: 5px;
  border: 2px solid #ee6e73;
  margin:10px;

}

#eventtitle{
  color:white;
  padding: 10px;
  margin:-10px;
  margin-bottom: 15px;
  background: #ee6e73;
}
#discussiontitle{
  color:white;
  padding: 10px;
  margin:-10px;
  margin-bottom: 15px;
  background: #ee6e73;
}

#disscusion{
  margin:10px;
  padding: 10px;
  border: 2px solid #ee6e73;
  border-radius: 5px;
}
#attendes{
  padding:10px;
  border-radius: 5px;
  border: 2px solid #26a69a;
  margin:10px;
}
#attendestitle{
 color:white;
  padding: 10px;
  margin-left:-10px;
  margin-right:-10px;
  margin-top:-10px;
  margin-bottom: 15px;
  background: #26a69a;
}
#creatortitle{
  color:white;
  padding: 10px;
  margin-left:-18px;
  margin-right:-18px;
  margin-top:-10px;
  margin-bottom: 15px;
  background: #26a69a;
}
#creator{
  padding:10px;
  border-radius: 5px;
  border: 2px solid #26a69a;
  margin:10px;
  overflow: hidden;
}
#nameofcreator{
  margin:10px;
  height: 200px;
  width:100px;
  position: absolute;
}

#nameofevent{
  height: 50px;
  color: #26a69a;
  margin: 10px;
}

#creatorimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-top: -50px;
  margin-bottom: 20px;

}
#creatortitleprofile{
  color:white;
  padding: 10px;
  margin-left:-18px;
  margin-right:-18px;
  margin-top:-10px;
  margin-bottom: 15px;
  background: #26a69a;
  width: 100%;
  border-radius: 5px;

}

#creatorimg1 {
  border-radius: 50%;

}
#creatorimg2 {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 10px;
  
}

#creatortitle1 {
  color:white;
  padding: 10px;
  margin-left:-18px;
  margin-right:-18px;
  margin-top:-10px;
  margin-bottom: 15px;
  background: #26a69a;
}

#attendestitle1 {
  color:white;
  padding: 10px;
  margin-left:-10px;
  margin-right:-10px;
  margin-top:-10px;
  margin-bottom: 15px;
  background: #26a69a;
  
}

