// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.parallax-container {
      width: 100%;
      font-weight: 900;
      color: rgb(255, 255, 255);
    }